.App {
  text-align: center;
  background-color: salmon;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fourth {
  border-color: #f1c40f;
  background-color: white;
  color: black;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  width: 20%;
  -webkit-transition: background 600ms ease-in-out;
  transition: background 800ms ease-in-out;
  border-radius: 25px;
 
}
.fourth:hover {
  background-position: 0;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


